/*Clase utilizada para la barra de navegacion*/

.barra_de_navegacion{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: black;
    position: fixed;
    width: 100%;
    top:0;
    max-height: 110px;
}


#logo_bartolomeo{
    max-width: 100%;
    width: auto;
    max-height: 110px;
}

.barra_de_navegacion p{
    max-width: 20%;
    background-color: red;
}

.barra_de_navegacion ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: span 3;
    list-style: none;
}
ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: orange;
    height: 50%;
    font-size: 2rem;
    padding: 20px;
    border-radius: 33px;
}


#idiomas-menu {
    display: none;
    flex-direction: column;
    background-color: #3f3c3c;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top:80%;
}
  
#idiomas-menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 3rem;
    color: orange;
    display: block; /*Los elementos aparecen en columna*/
}

#idiomas-btn{
    font-size: 3rem;
    color: orange;
    background-color: black;
    text-decoration: none;
    border: none;
    font-family: "Times New Roman", Times, serif;}
  
#idiomas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


/*Inicio de sesion*/

#primer_section{
    margin-top: 180px;
}

#image_user{
    max-height: 4%;
    width: 15%;
}

#box_inicio_sesion_1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

#box_inicio_sesion_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 177, 102);
    border-radius: 30px;
    padding: 10px;
    max-height: 300px;

}
#box_inicio_sesion_2 input{
    padding-left: 20px;
}

#campos_inicio_sesion{
    display: flex;
    flex-direction: column;
}
#campos_inicio_sesion input{
    margin: 20px;
    font-size: 2rem;
}

#botones-inicio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
#botones-inicio div{
    display: flex;
    width: 100%;
    padding-left: 10px;
}

#button_iniciar{
    margin-left: 25px;
}

#button_registrar{
    margin-left: 35%;
}

#registrar{
    margin-right: 30px;
}


#botones-inicio button{
    margin-top: 10px;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 30px;
    background-color: orange;
    
}


/*Las figuras de fondo*/
.rectangulo-fondo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px; /* Ajusta la altura según tus necesidades */
    background-color: orange; /* Color del rectángulo */
    z-index: -1; /* Coloca el rectángulo detrás del contenido */
}

.circulo-fondo {
    position: fixed;
    bottom: 0%;
    left: 0%;
    transform: translateX(-50%);
    width: 400px; /* Diámetro del círculo */
    height: 400px; /* Diámetro del círculo */
    border-radius: 50%; /* Forma el círculo */
    background-color: orange;
    z-index: -1; /* Coloca el círculo detrás del contenido */
}

#circulo_2{
    left: 23%;
}
#circulo_3{
    left: 46%;
}
#circulo_4{
    left: 69%
}
#circulo_5{
    left:92%;
}

#primer_section h6{
    text-align: center;
}

h6{
    font-size: 3rem;
    margin: 10px;
}
