/*Clase utilizada para la barra de navegacion*/
.barra_de_navegacion{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    top: 0px;
    position: absolute;
    max-height: 150px;
}

.barra_de_navegacion img {
    width: 10%;
    height: auto;
}

.barra_de_navegacion div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 220px;

}

#idioma{
    margin-left: 400px;
}

.barra_de_navegacion a{
    display: flex;
    align-items: center;
    background-color: orange;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    height: 70%;
    margin-left: 230px;
}

.barra_de_navegacion nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.barra_de_navegacion nav p{
    font-size: 30px;
}


#box_inicio_sesion img{
    max-width: 10%;
}

/*Inicio de sesion*/

#primer_section{
    margin-top: 180px;
}

#image_user{
    width: 30%;
}

#box_inicio_sesion_1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10%
}

#box_inicio_sesion_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 177, 102);
    border-radius: 30px;
    padding: 30px;

}
#box_inicio_sesion_2 input{
    padding-left: 20px;
}

#campos_inicio_sesion{
    display: flex;
    flex-direction: column;
}
#campos_inicio_sesion input{
    margin: 20px;
    font-size: 4rem;
}

#botones-inicio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
#botones-inicio div{
    display: flex;
    width: 100%;
    padding-left: 10px;
}

#button_registrar{
    justify-content: right;
}

#registrar{
    margin-right: 30px;
}


#botones-inicio button{
    margin-top: 10px;
    font-size: 3rem;
    border-radius: 30px;
    
}


/*Las figuras de fondo*/
.rectangulo-fondo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 600px; /* Ajusta la altura según tus necesidades */
    background-color: orange; /* Color del rectángulo */
    z-index: -1; /* Coloca el rectángulo detrás del contenido */
}

.circulo-fondo {
    position: fixed;
    bottom: 20%;
    left: 0%;
    transform: translateX(-50%);
    width: 600px; /* Diámetro del círculo */
    height: 600px; /* Diámetro del círculo */
    border-radius: 50%; /* Forma el círculo */
    background-color: orange; /* Color del círculo */
    z-index: -1; /* Coloca el círculo detrás del contenido */
}

#circulo_2{
    left: 23%;
}
#circulo_3{
    left: 46%;
}
#circulo_4{
    left: 69%
}
#circulo_5{
    left:92%;
}


body{
}