/*Clase utilizada para la barra de navegacion*/

.barra_de_navegacion{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: #333333;
    position: fixed;
    width: 100%;
    top:0;
    height: 10%;
}

#reducido{
    max-height: 100%;
    overflow: hidden;
}
/*El logo del navegador*/
#logo_bartolomeo{
    max-height: 85%;
    max-width: 100%;
}

/*Los enlaces del  navegador*/
.barra_de_navegacion ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: span 3;
    list-style: none;
}
/*La lista de enlaces*/
ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Cada enlace*/
li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #F2A121;
    height: 50%;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 33px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

/*Desplegable y boton de idiomas*/
#idiomas {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:end;
    padding-right: 10%;
}
/*Los idiomas del navegador*/
#idiomas-menu {
    display: none;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top:80%;
    border-radius: 10px;
    right: 1%;
}

/*Cada idioma del navegador*/
#idiomas-menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #C0732B;
    display: block; /*Los elementos aparecen en columna*/
}

/*El idioma elegido*/
#idiomas-btn{
    font-size: 1.5em;
    color: #F2A121;
    background-color: #333333;
    text-decoration: none;
    border: none;
    font-family: "Times New Roman", Times, serif;
}



/*Inicio de sesion*/

#primer_section{
    margin-top: 6%;
}

#image_user{
    max-height: 4%;
    width: 15%;
}

#box_inicio_sesion_1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

#box_inicio_sesion_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBE0B5;
    border-radius: 30px;
    padding: 10px;
    max-height: 300px;

}
#box_inicio_sesion_2 input{
    padding-left: 20px;
}

#campos_inicio_sesion{
    display: flex;
    flex-direction: column;
}
#campos_inicio_sesion input{
    margin: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    border-radius: 30px;
    border: none;
    font-family: "Times New Roman", Times, serif;
}

#botones-inicio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 10px
}
#botones-inicio div{
    display: flex;
    width: 100%;
    padding-left: 10px;
}

#button_iniciar{
    margin-left: 30px;
}

#button_registrar{
    /*margin-left: 35%;*/
    display: flex;
    justify-content: right;
}

#registrar{
    margin-right: 50px;
}


#botones-inicio button{
    font-size: 1.5rem;
    border-radius: 30px;
    background-color: #C0732B;
    padding: 7px;
    border: none;
    color: white;
    font-family: "Times New Roman", Times, serif;
}



/*Las figuras de fondo*/
.rectangulo-fondo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px; /* Ajusta la altura según tus necesidades */
    background-color: #C0732B; /* Color del rectángulo */
    z-index: -1; /* Coloca el rectángulo detrás del contenido */
}

.circulo-fondo {
    position: fixed;
    bottom: 0%;
    left: 0%;
    transform: translateX(-50%);
    width: 400px; /* Diámetro del círculo */
    height: 400px; /* Diámetro del círculo */
    border-radius: 50%; /* Forma el círculo */
    background-color: #C0732B;
    z-index: -1; /* Coloca el círculo detrás del contenido */
}

#circulo_2{
    left: 23%;
}
#circulo_3{
    left: 46%;
}
#circulo_4{
    left: 69%
}
#circulo_5{
    left:92%;
}

#primer_section h6{
    text-align: center;
}

h6{
    font-size: 3rem;
    margin: 10px;
}

body{
    background-color: #F9D7A0;
}