body {
    background-color: #f9d7a0;
}

/* La barra de progreso debe de estar centrada */
#contenedor_barra_progreso {
    display: flex;
    justify-content: center;
}
/*  */
.contendedor_centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

#barra_progreso {
    width: 75%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    position: relative;
}
/* Círculos  */
.nodo {
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
/* Barras */
.barra {
    margin: -2%;
    flex: 1;
    width: 70%;
    height: 12.5%;
    position: relative;
    z-index: 1;
}

[id*="progreso_barra"] {
    background-color: #eb7d10;
}

[id*="nodo"] {
    background-color: #eb7d10;
}
/* Colocar la imagen en cada nodo */
.img_nodo {
    margin-top: 13%;
    margin-left: 19%;
    height: 70%;
}

#img_n_tarjeta {
    height: 60%;
    margin-top: 18%;
    margin-left: 17.5%;
}
/* Formato de la sección de pedidos */
#sect_pedidos {
    width: 100%;
    height: auto;
    background-color: #f9d7a0;
}
/* Contenedor básico */
.contenedor {
    margin: 1%;
    border-radius: 10px;
    background-color: #d48d39;
    padding: 1%;
}

#contenedor_control_pedido {
    display: flex;
    justify-content: right;
    padding-right: 2%;
}

#control_pedido {
    padding: 0%;
    margin-top: 2%;
    width: 22.5%;
}
/* Posicionamiento de los elementos de control pedido */
#control_pedido ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    margin: 1%;
}

#control_pedido li {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_cesta {
    width: 70%;
}

#img_tarjeta {
    width: 80%;
}
/* Contenedor que contiene los distintos filtros y se hará scroll en horizontal */
#filtros {
    margin-top: 2.5%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    overflow-x: auto;
    width: 98%;
    white-space: nowrap;
    overflow: hidden;
}
/* Formato de cada uno de los filtros */
[id*="filtro_"] {
    background-color: #904e00;
    color: white;
    border-radius: 40px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 1.2rem;
    min-width: 20%;
}
/* Contenedor que contiene los distintos productos como una matriz 4x5 */
#productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 4%;
    grid-gap: 3%;
    width: 90%;
}

.producto {
    text-align: center;
    padding-bottom: 10%;
}

.producto h3 {
    padding-top: 10%;
    min-height: 25%;
    font-size: 1.2rem;
    margin-left: 2%;
    margin-right: 2%;
}

.imagen_producto {
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    width: 90%;
    border-radius: 25px;
}
/* Formato de la sección de la revisión */
#sect_revision {
    width: 100%;
    height: auto;
    background-color: #f9d7a0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1%;
    margin-bottom: 2%;
}
/* Caja donde está cada uno de los productos */
#caja_pedidos {
    margin: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2%;
    background-color: #d48d39;
    border-radius: 10px;
}
/* Formato del resumen y revisión */
.ud_prod {
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    grid-gap: 2%;
}

.ud_prod p {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.75rem;
}
/* Contenedor de realizar el pago */
#cuadro_pago {
    margin: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Formulario de pago */
#formulario_pago {
    padding: 15%;
    background-color: #f6e8bd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Cada uno de los inputs */
.input_pago {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.75rem;
    border-radius: 10px;
    border: none;
    padding-left: 2%;
    width: 90%;
}

#botones_pago {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.boton {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.75rem;
    border-radius: 10px;
    border: none;
    padding: 2%;
    background-color: #c0732b;
    color: white;
}

.boton:hover {
    background-color: #c0732bdc;
}

.boton:active {
    background-color: #904e00;
}
/* Pop-up del carrito que continua con el scroll */
#pop_up_carrito {
    position: fixed;
    top: 10%;
    left: 0;
    width: 35%;
    height: auto;
    z-index: 100;
    overflow: auto;
    display: none;
}
/* Caja donde habrá contenido */
.caja_pop_up {
    background-color: #f9d7a0;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.caja_pop_up .contenedor {
    padding-bottom: 2.5%;
}
/* Formato del boton más  */

.boton_mas {
    width: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d07402;
    border-radius: 50%;
}

.boton_mas::before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #d07402;
}
.boton_mas:hover {
    background-color: #ab5e01;
}

.n_seleccionado {
    margin-left: 2%;
    margin-right: 2%;
}
/* Formato del botón menos */
.boton_menos {
    width: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d07402;
    border-radius: 50%;
}

.boton_menos::before {
    content: "";
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #d07402;
}

.boton_menos:hover {
    background-color: #ab5e01;
}

.papelera {
    margin-top: 0.75%;
    margin-left: 5%;
}

.precio_total {
    margin-left: 40%;
}
/* Pop-up de las descripciones del producto */
#pop_up_descr_prod {
    position: fixed;
    top: 10%;
    left: 0;
    width: 35%;
    height: auto;
    z-index: 100;
    display: none;
}

#pop_up_descr_prod .caja_pop_up {
    padding-bottom: 2.5%;
}

#nombre_plato {
    margin-bottom: 2%;
    font-size: 1.25rem;
    border-radius: 10px;
    padding-left: 5%;
    padding-top: 5%;
    width: 100%;
}
/* Toda la fila del pop-up del producto que te muestra la cantidad y la 
capacidad de añadir un producto */
#caja_añadir {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    margin: 5%;
}
.seleccion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#caja_añadir .boton {
    padding-top: 0.25%;
}

#descripcion_prod {
    margin-bottom: 10%;
    padding-bottom: 4%;
}
/* fondo que acompaña a los pop-ups que permite salir de ellos */
.fondo_negro {
    display: none;
    position: fixed;
    top: 10%;
    left: 0;
    background-color: #00000080;
    min-width: 100%;
    min-height: 100vh;
    z-index: 99;
}

.rectangulo-fondo {
    position: fixed;
    bottom: -50%;
    left: 0;
    width: 5%;
    min-height: 2000px;
    background-color: #c0732bb9;
    z-index: -1;
    transform: rotate(45deg);
    display: none;
}

#rectangulo_1 {
    left: 15%;
}

#rectangulo_2 {
    left: 35%;
}

#rectangulo_3 {
    left: 55%;
}

#rectangulo_4 {
    left: 75%;
}

#rectangulo_5 {
    left: 95%;
}

#rectangulo_6 {
    left: 115%;
}

#confirmacion_pedido {
    background-color: #fbe0b5;
    width: 60%;
    max-height: 60vh;
}

#img_pedido_confirmado {
    max-height: 20%;
}
/* ---------------------- Responsive Tablet ----------------------  */
@media only screen and (max-width: 768px) {
    #barra_progreso {
        margin-top: 10%;
    }
    [id*="filtro_"] {
        min-width: 25%;
    }
    .producto {
        padding-bottom: 0;
    }
    #pop_up_carrito {
        width: 45%;
    }
    #pop_up_descr_prod {
        width: 45%;
    }
    #caja_añadir {
        margin: 15%;
    }
    #caja_añadir .boton {
        padding-top: 2%;
    }
    #confirmacion_pedido {
        width: 90%;
    }
    .boton_mas {
        min-width: 30px;
        min-height: 30px;
        font-size: 1.5rem;
    }
    .boton_menos {
        min-width: 30px;
        min-height: 30px;
        font-size: 1.5rem;
    }
    #sect_revision {
        display: flex;
        flex-direction: column;
    }
    #sect_completado .contendedor_centrado {
        flex-direction: column;
    }
    #img_pedido_confirmado {
        max-height: 10%;
    }
    #contenedor_control_pedido {
        display: flex;
        justify-content: center;
    }
    #control_pedido {
        min-width: 90vw;
        font-size: 1.5rem;
    }
    #pop_up_carrito .boton_menos {
        width: 10px;
    }
    #pop_up_carrito .boton_mas {
        width: 10px;
    }
}
/* ---------------------- Responsive Móvil ----------------------  */
@media only screen and (max-width: 600px) {
    #barra_progreso {
        margin-top: 15%;
    }
    [id*="filtro_"] {
        min-width: 25%;
    }
    #productos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    #pop_up_carrito {
        width: 55%;
    }
    #pop_up_descr_prod {
        width: 55%;
    }
}
