* {box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#F9D7A0;
    /* Cuando salga un pop-up
    overflow:hidden */
}
#contenedor_barra_progreso{
    display: flex;
    justify-content: center;
}
.contendedor_centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}
#barra_progreso{
    width: 75%;
    margin-top: 10%;
    display: flex;
    align-items:center; /* Centra verticalmente */
    justify-content: space-around; /* Centra horizontalmente */
    height: 20vh;
    position: relative;
}
.nodo {
    width: 15vmin;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    
}
.barra {
    flex:1;
    width: 70%;
    height: 12.5%;
    position:absolute;
    z-index: 1;
}

[id*="progreso_barra"]{
    
    background-color: #EB7D10;
    
}
[id*="nodo"]{
    background-color:#EB7D10;
}
.img_nodo{
    margin-top: 13%;
    margin-left: 19%;
    height: 70%;
}
#img_nodo_tarjeta{
    height: 60%;
    margin-top: 18%;
    margin-left: 17.5%;
}
#sect_pedidos{
    width: 100%;
    height: auto;
    background-color: #F9D7A0;
}
.contenedor{
    margin: 1%;
    border-radius: 10px;
    background-color: #D48D39;
    padding: 1%;
}
#contenedor_control_pedido{
    display: flex;
    justify-content: right;
    padding-right: 2%;
}
#control_pedido{
    padding: 0%;
    margin-top: 2%;;
    width:22.5%;
}
#control_pedido ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:5%;
    margin: 1%;
}
#control_pedido li{
    display: flex;
    align-items: center;
    justify-content:center;

}
#img_cesta{
    width: 70%;
}
#img_tarjeta{
    width: 80%;
}
#filtros{
    margin-top:2.5%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    overflow-x: auto;
    width: 98%;
    white-space: nowrap;
    overflow: hidden;
}
[id*="filtro_"]{
    background-color:#904E00 ;
    color:white;
    border-radius: 40px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 1.2rem;
    min-width: 20%;
}

#productos{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    margin:4%;
    grid-gap: 3%;
    width: 90%;
}
.producto{
    text-align: center;

}
.producto h3{
    padding-top: 10%;
    min-height: 25%;
    font-size: 1.2rem;
    margin-left: 2%;
    margin-right: 2%;
}
.imagen_producto{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
    width: 90%;
    border-radius: 25px;
    margin-bottom: 5%;
}
#sect_revision{
    width: 100%;
    height: auto;
    background-color: #F9D7A0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap:1%;
    margin-bottom: 2%;
}
#caja_pedidos{
    margin: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2%;
    background-color: #D48D39;
    border-radius: 10px;
}
.ud_prod{
    display: grid;
    grid-template-columns: 4fr repeat(3,1fr);
    grid-gap: 2%;
}
.ud_prod p{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.75rem;
}
#cuadro_pago{
    margin: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#formulario_pago{
    padding: 15%;
    background-color: #F6E8BD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input_pago{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.75rem;
    border-radius: 10px;
    border: none;
    padding-left: 2%;
    width: 90%;
}
#botones_pago{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.boton{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.75rem;
    border-radius: 10px;
    border: none;
    padding: 2%;
    background-color: #C0732B;
    color: white;
}
.boton:hover{
    background-color: #c0732bdc;
}
.boton:active{
    background-color: #904E00;
}
#pop_up_carrito{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:#00000080;
    z-index: 100;
    overflow: auto;
}
#pop_up_carrito .contenedor{
   width: 35%;
}
.boton_mas{
    margin-left: 2%;
    padding-top: 0.25%;
    float:left;
    background-color: #d07402;
    border-radius: 50%;
    width: 1.5vw;
    aspect-ratio: 1 ;
    text-align: center;
}
.boton_mas:hover{
    background-color: #ab5e01;
}
.n_seleccionado{
    margin-left: 2%;
    padding-top: 0.25%;
    float:left;
}
.boton_menos{
    margin-left: 2%;
    padding-top: 0.25%;
    float:left;
    background-color: #d07402;
    border-radius: 50%;
    width: 1.5vw;
    aspect-ratio: 1 ;
    text-align: center;
}
.boton_menos:hover{
    background-color: #ab5e01;
}
.papelera{
    margin-top: 0.75%;
    margin-left: 5%;
    float:left;
}
.precio_total{
    margin-left: 50%;

}