/* Registro de cuenta*/
/*El formulario de registro*/
/*La mitad derecha del formulario*/
/*La imagen de la  izquierda*/
#sitio-bartolomeo{
      display:flex;
      justify-content: center;
      align-items: center;  
}

#sitio-bartolomeo img{
    max-width: 95%;
    border-radius: 10px;    
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

}

/*El div de la foto de perfil del usuario descono*/
#perfil-no-usuario{
    display: flex;
    justify-content: center;  
}

/*Utilizado para contener al formulario*/
#perfil-no-usuario img{
    width: 25%;
}

/*Contiene */
#input-registro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 60%;
    background-color: #FBE0B5;
    border-radius: 30px;
}

/*Contenido en input-registro.Contiene la imagen del usuario, los inputs a rellenar y los botones*/
.formulario_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Utilizado para centrar el texto Registro*/
#registro{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*El formulario a rellenar*/
#form-formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

/*Los campos a rellenar*/
.campos{
    background-color: white;
    display: flex;
    margin: 7px;
    padding-left: 25px;
    border-radius: 30px;
    border: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    max-width: 90%;
}

/*Los botones*/
#botones-registro{
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
    width: 95%;
    margin-top: 7px;
}

/*El boton de registrar*/
#registrar{
    width: fit-content;
    align-items: left;
}

/*El boton de cancelar*/
#cancelar{
    width: fit-content;
    text-align: end;
}
/*Los botones del formulario*/
.formulario button{
    background-color: #C0732B;
    border-radius: 30px;
    font-size: 1.7rem;
    color: white;
    font-family: "Times New Roman", Times, serif;
    padding: 7px;
    border: none;
}

h5{
    font-size: 4rem;
    margin: 10px;
    margin-top: 0;
}

/*El triangulo*/
#triangulo{
    display: none;
}


/*--------------------------------Responsive------------------------------------------------*/

/*Responsive ajustados a la resolucion de una tablet*/

@media only screen and (max-width:768px){
    
    /*El tamaño del titulo Registro*/
    h5{
        font-size: 2.5rem;
        margin: 5px;
    }  

    #input-registro{ 
        width: 80%;
        
    }

    /*Modifico la posicion del formulario*/
    #form-formulario{
        padding: 2px;
        align-self: self-start;
        
    }

    /*Los campos a rellenar*/
    .campos{
        font-size: 1.2rem;
        padding-left: 10px;
        
    }

    /*Los botones para registrarse*/
    .formulario button{
        font-size: 1.2rem;
        padding: 5px;
    }

    #botones-registro{
        width: 94%;
    }




}

/*Responsive ajustados a la resolucion de un móvil*/
@media only screen and (max-width:600px){  

    /*El triangulo*/
    #triangulo{
        display: unset;
        position:absolute;
        z-index: -1;
        width:0;
        height: 0;
        border-left: 98vw solid transparent;
        border-bottom: 90vh solid #C0732B; /* Puedes cambiar el color aquí */
        bottom: 0;
    }

    /*Desaparece la imagen del sitio*/
    #sitio-bartolomeo{
        display: none
    }

    /*Eliminar la columna de la izquierda, solo una para el formulario*/
    .formulario{
        display: flex;
        align-items: center;    
    }

    #input-registro{
        width: 90%;
        height: min-content;
        height: 65vh;
    }

    #form-formulario{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /*Ajustamos tamaño de los campos a rellenar*/
    .campos{
        font-size: 1.5rem;
        max-width: 85%;
    }

    .formulario button{
        font-size: 1rem;
    }

    #botones-registro{
        width: 94%;
    }

}