/*Clase utilizada para la barra de navegacion*/

.barra_de_navegacion{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: #333333;
    position: fixed;
    width: 100%;
    top:0;
    height: 10%;
}

#reducido{
    max-height: 100%;
    overflow: hidden;
}
/*El logo del navegador*/
#logo_bartolomeo{
    max-height: 85%;
    max-width: 100%;
}

/*Los enlaces del  navegador*/
.barra_de_navegacion ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: span 3;
    list-style: none;
}
/*La lista de enlaces*/
ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Cada enlace*/
li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #F2A121;
    height: 50%;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 33px;
}

/*Desplegable y boton de idiomas*/
#idiomas {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:end;
    padding-right: 10%;
}
/*Los idiomas del navegador*/
#idiomas-menu {
    display: none;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top:80%;
    border-radius: 10px;
    right: 1%;
}

/*Cada idioma del navegador*/
#idiomas-menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #C0732B;
    display: block; /*Los elementos aparecen en columna*/
}

/*El idioma elegido*/
#idiomas-btn{
    font-size: 1.5em;
    color: #F2A121;
    background-color: #333333;
    text-decoration: none;
    border: none;
    font-family: "Times New Roman", Times, serif;
}

/* Registro de cuenta*/
.primer-section{
    margin-top: 6%;
}

/*El formulario de registro*/
/*La mitad derecha del formulario*/

/*La imagen de la  izquierda*/
#sitio-bartolomeo{
      display:flex;
      justify-content: center;
      align-items: center;  
}

#sitio-bartolomeo img{
    max-width: 95%;
    border-radius: 10px;    
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

}
/*El div de la foto de perfil del usuario descono*/
#perfil-no-usuario{
    display: flex;
    justify-content: center;
    
}

/*Utilizado para contener al formulario*/
#perfil-no-usuario img{
    width: 25%;
}
/*Contiene */
#input-registro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 440px;
    width: 60%;
    background-color: #FBE0B5;
    border-radius: 30px;
}
/*Contenido en input-registro.Contiene la imagen del usuario, los inputs a rellenar y los botones*/
.formulario_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*Utilizado para centrar el texto Registro*/
#registro{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*Los campos a rellenar*/
.campos{
    background-color: white;
    display: flex;
    margin: 7px;
    padding-left: 25px;
    border-radius: 30px;
    border: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
}

/*Los botones*/
#botones-registro{
display: flex;
   justify-content: space-between;
   padding: 5px;
}

.formulario button{
    background-color: #C0732B;
    border-radius: 30px;
    font-size: 30px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    padding: 7px;
    border: none;

}
h5{
    font-size: 4rem;
    margin: 10px;
    margin-top: 0;
}

body{
    background-color: #F9D7A0;
}