* {box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contenedor {
    display: grid;
    margin-top: 15%;
    margin-bottom: auto;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    grid-template-rows: auto auto auto;
    grid-gap: 30px; /* Espacio entre las columnas y filas */
    width: 80%;
    height: auto;
    background-color:  #D48D39;
    padding: 50px;
    border-radius: 10px;
    position: relative;
}

#boton-reserva {
    position: absolute; /*posicionado abajo en la derecha del contenedor*/
    bottom: -20px;
    right: -30px;
    background-color: #333333;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
    cursor: pointer;
  }

#boton-reserva:disabled {
background-color: #7a7474;
cursor: not-allowed;
}
  

.elemento-contenedor{
    background-color: #333333;
    color: black;
    padding: 15px 32px;;
    border-radius: 30px;
}

.dos-columnas {
    grid-column: span 2; /* Ocupa las dos columnas disponibles */
}

#selector-horas-disponibles:disabled {
    cursor: not-allowed;
}

#horarios{
    background-color: none;
    padding: 15px 32px;
}

#horarios li{
    display: block;
}

#horarios img{
    width: 20px;
    height: 100%;
    vertical-align: middle;
    margin-left: 5px;
}


hr {
    border: none;
    height: 2px;
    background-color: #333333; /* color de la linea */
}

#flip{
    cursor: pointer;
}

.panel{
    display: block;
    margin-top: 20px;

}

.panel div{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #333333;
    margin-top: 2px;
}

h6{
    font-size: 1.5rem;
}

h5{
    font-size: 1.5rem;
    color: #333333;
}

.contenedor-calendario{
    display: flex;
    justify-content: center;
    align-items: center;
}





input[type=date] {
    height: 50px;
    margin: 0 auto;
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    border: 0;
    padding: 15px 32px;
    background-color: #F2A121;
    border-radius: 50px;
}


input[type=date]::-webkit-calendar-picker-indicator {
    font-size: 30px;
}
input[type=date]::-webkit-calendar-picker-indicator:hover {
    background-color: #959595;
    cursor: pointer;
}



select {
    padding: 20px;
    width: 100%;
    background-color: #F2A121;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;

    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/images/caret-down-solid.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

option{
    background-color: #fff;
}


